@using DfE.GIAP.Web.Controllers.MyPupilList
@using static DfE.GIAP.Web.Controllers.MyPupilList.MyPupilListController
@model MyPupilsViewModel

@if ((Model.Pupils != null && Model.Pupils.Any()) || Model.InvalidUpns.Any()) // Is this Invalid correct are InvalidUpns download attemptable?
{
    <!--<input type="hidden" name="PageLearnerNumbers" value="Model.PageLearnerNumbers" /> -->
    <!--<input type="hidden" name="Total" value="Model.Total" />-->
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadCommonTransferFileData" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" id="search--download--as--CTF--link" name="downloadASCTF" value="selected" type="submit">
                @ApplicationLabels.DownloadSelectedAsCtfLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadSelectedNPDDataUPN" id="download--selected--npd--data--link" type="submit">
                @ApplicationLabels.DownloadSelectedNationalPupilDatabaseDataLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-action="ToDownloadSelectedPupilPremiumDataUPN" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" id="download--selected--pp--data--link" type="submit">
                @ApplicationLabels.DownloadSelectedPupilPremiumDataLink
            </button>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <button class="govuk-list webapp-button-as-link" asp-controller="MyPupilList" asp-action="RemoveSelected" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@Model.SortField" asp-route-sortDirection="@Model.SortDirection" asp id="remove--selected--data--link" type="submit">
                @ApplicationLabels.RemoveSelectedToMyPupilListLink
            </button>
        </div>
    </div>
}
