@using DfE.GIAP.Web.Controllers.MyPupilList
@model MyPupilsViewModel
@{
    ViewData["Title"] = Model.PageHeading;
}

@if (Model.isRemovedSuccessful)
{
    <div class="govuk-inset-text">Selected have been removed from 'My pupil list'</div>
}

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl" id="search-type--text">
        @Model.PageHeading
    </h1>

    <!--<partial name="_MyPupilListNoPupilSelectedError.cshtml" model="@Model" />  TODO just handle Error setting when Remove / Download requires a selection and set the error in Model.IsError. Then delete this partial-->

    @if (Model.IsError && Model.ErrorMessage.Equals(Messages.Downloads.Errors.UPNLimitExceeded))
    {
        <partial name="~/Views\Shared\_CTFLimitError.cshtml" />
    }

    @if (Model.IsError)
    {
        <div class="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="heading--errormessage">There is a problem</h2>
            <span id="results--heading-errormessage" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                @Model.ErrorMessage
            </span>
        </div>
    }
    

    <form asp-action="@Model.FormAction" method="POST">
        @if (!Model.IsError && Model.Pupils != null && Model.Pupils.Any())
        {
            <partial name="~/Views/MyPupilList/_MyPupilListDownloadLinks.cshtml" model="Model" />

            <div class="download-block">
                @{
                    string selectAllValue = Model.SelectAll ? "false" : "true";
                    string selectAllButtonText = Model.SelectAll ? "Deselect all pupils" : "Select all pupils";
                }
                <button asp-action="@Model.FormAction"
                        asp-route-pageNumber="@Model.PageNumber"
                        asp-route-sortField="@Model.SortField"
                        asp-route-sortDirection="@Model.SortDirection"
                        class="govuk-button govuk-button--secondary"
                        type="submit"
                        name="SelectAll"
                        value="@selectAllValue">@selectAllButtonText</button>
            </div>
        }

        <div class="govuk-grid-row">
            @if(@Model.IsNoPupilsRemaining)
            {
                <div id="results--detail-warningmessage" class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        <span>@ApplicationLabels.SearchMyPupilListNoPupilFound</span> <!-- TODO need to adjust message if not on Page 1 (no pupils in list vs no remaining pupils)-->
                    </strong>
                </div>
            }
            else
            {
                <div class="result-table @(Model.IsError ? "hide-for-non-js" : "")">
                    <div id="pupil--list--table">
                        <div class="giap--pupil-list">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">Do you want to select</legend>
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-select--chkbox">
                                                <span class="govuk-visually-hidden">checkboxes</span>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-firstname--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Forename, Model.SortField, Model.SortDirection)">
                                                <button id="search--sort-firstname--button" asp-action="@Model.FormAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Forename" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Forename, Model.SortField, Model.SortDirection)">
                                                    First
                                                </button>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-surname--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Surname, Model.SortField, Model.SortDirection)">
                                                <button id="search--sort-surname--button" asp-action="@Model.FormAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Surname" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Surname, Model.SortField, Model.SortDirection)">
                                                    Surname
                                                </button>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-learner-number--text">@(Model.UniquePupilNumberLabel)</th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-dob--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.DOB, Model.SortField, Model.SortDirection)">
                                                <button id="search--sort-dob--button" asp-action="@Model.FormAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.DOB" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.DOB, Model.SortField, Model.SortDirection)">
                                                    Date of birth
                                                </button>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-sex--text" aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Sex, Model.SortField, Model.SortDirection)">
                                                <button id="search--sort-sex--button" asp-action="@Model.FormAction" asp-route-pageNumber="@Model.PageNumber" asp-route-sortField="@AzureSearchFields.Sex" asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Sex, Model.SortField, Model.SortDirection)">
                                                    Sex
                                                </button>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-pupilpremium--text">Pupil premium</th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-local-authority--text">LA</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        @foreach (var pupil in Model.Pupils)

                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-checkboxes govuk-checkboxes--small">
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input"
                                                               id="search--search-pupils-data-select--chkbox-@pupil.UniquePupilNumber"
                                                               name="SelectedPupil"
                                                               type="checkbox"
                                                               value="@pupil.UniquePupilNumber"
                                                        @(Model.SelectAll || Model.SelectedPupils.Contains(pupil.UniquePupilNumber) ? "checked" : "")>
                                                        <label class="govuk-label govuk-checkboxes__label"
                                                               for="search--search-pupils-data-select--chkbox-@pupil.UniquePupilNumber">
                                                            <span class="govuk-visually-hidden">@(Model.UniquePupilNumberLabel): @pupil.UniquePupilNumber, Name: @pupil.Forename @pupil.Surname</span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-firstname--text">
                                                    @pupil.Forename
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-data-surname--text">
                                                    @pupil.Surname
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-learner-number--text">
                                                    @pupil.UniquePupilNumber
                                                </td>
                                                <td class="govuk-table__cell search--dob--cell search--search-pupils-data-dob--text">
                                                    @pupil.DateOfBirth
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-sex--text">
                                                    @pupil.Sex
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-pupilpremium--text">
                                                    @pupil.PupilPremiumLabel
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-data-local-authority--text">
                                                    @pupil.LocalAuthorityCode
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </fieldset>
                            <div>
                                <ul class="pagination-list">
                                @if(Model.PageNumber != 1)
                                {
                                    <li class="page-list-first">
                                        <button id="page-first"
                                                type="submit"
                                                asp-action="@Model.FormAction"
                                                asp-route-pageNumber="1"
                                                asp-route-sortField="@Model.SortField"
                                                asp-route-sortDirection="@Model.SortDirection">1</button>
                                    </li>
                                }    
                                @if (Model.DisplayPreviousPage)
                                {
                                    <li class="page-list-previous">

                                        <button id="page-previous"
                                                type="submit"
                                                asp-action="@Model.FormAction"
                                                asp-route-pageNumber="@(Model.PageNumber - 1)"
                                                asp-route-sortField="@Model.SortField"
                                                asp-route-sortDirection="@Model.SortDirection">
                                            @(Model.PageNumber - 1)
                                        </button>
                                    </li>
                                }
                                <li>@Model.PageNumber</li>
                                @if (Model.IsMorePageAvailable)
                                {
                                    <li class="page-list-next">
                                        <button id="page-next"
                                                type="submit"
                                                asp-action="@Model.FormAction"
                                                asp-route-pageNumber="@(Model.PageNumber + 1)"
                                                asp-route-sortField="@Model.SortField"
                                                asp-route-sortDirection="@Model.SortDirection">
                                            @(Model.PageNumber + 1)
                                        </button>
                                    </li>
                                }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>

    <partial name="_MetadataFilesPartial" />
</div>
