@using DfE.GIAP.Web.Features.MyPupils.Controllers.GetMyPupils
@model MyPupilsViewModel

@{
    ViewData["Title"] = Model.PageHeading;
}

@if (Model.IsDeleteSuccessful)

{
    <div class="govuk-inset-text">Selected have been removed from 'My pupil list'</div>
}

<div class="govuk-width-container">
    <h1 class="govuk-heading-xl" id="mypupils-heading">
        @Model.PageHeading
    </h1>

    @if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="heading--errormessage">There is a problem</h2>
            <span id="results--heading-errormessage" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                @Model.Error
            </span>
        </div>
    }

    <form asp-controller="@Model.UpdateFormController" asp-action="@Model.UpdateFormAction" method="POST">

        @foreach (string pupilUpn in Model.CurrentPageOfPupils.Values.Select(x => x.UniquePupilNumber))
        {
            <input type="hidden" name="CurrentPupils" value="@pupilUpn" />
        }

        @if (Model.HasPupils)
        {
            <div class="govuk-grid-row download-block">
                <div class="govuk-grid-column-one-quarter download-block">
                    <button asp-controller="@Routes.MyPupilList.DownloadMyPupilsCommonTransferFileControllerName"
                            asp-action="ToDownloadCommonTransferFileData"
                            asp-route-pageNumber="@Model.PageNumber"
                            asp-route-sortField="@Model.SortField"
                            asp-route-sortDirection="@Model.SortDirection"
                            id="search--download--as--CTF--link"
                            name="downloadASCTF"
                            value="selected"
                            type="submit"
                            class="govuk-list webapp-button-as-link">
                        @ApplicationLabels.DownloadSelectedAsCtfLink
                    </button>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <button asp-controller="@Routes.MyPupilList.DownloadMyPupilsController"
                            asp-action="@Routes.MyPupilList.DownloadNpdOptionsControllerAction"
                            id="download--selected--npd--data--link"
                            type="submit"
                            class="govuk-list webapp-button-as-link">
                        @ApplicationLabels.DownloadSelectedNationalPupilDatabaseDataLink
                    </button>
                </div>
                <div class="govuk-grid-column-one-quarter">
                    <button asp-controller="@Routes.MyPupilList.DownloadMyPupilsController"
                            asp-action="@Routes.MyPupilList.DownloadPupilPremiumControllerAction"
                            id="download--selected--pp--data--link"
                            type="submit"
                            class="govuk-list webapp-button-as-link">
                        @ApplicationLabels.DownloadSelectedPupilPremiumDataLink
                    </button>
                </div>
            </div>

            string selectAllButtonValue = Model.IsAnyPupilsSelected ? "false" : "true";
            string selectAllButtonText = Model.IsAnyPupilsSelected ? "Deselect all pupils" : "Select all pupils";

            <div class="govuk-grid-row govuk-button-group">
                <div class="govuk-grid-column-one-quarter">
                    <button asp-controller="@Model.UpdateFormController"
                            asp-action="@Model.UpdateFormAction"
                            asp-route-pageNumber="@Model.PageNumber"
                            asp-route-sortField="@Model.SortField"
                            asp-route-sortDirection="@Model.SortDirection"
                            class="govuk-button govuk-button--secondary"
                            type="submit"
                            name="SelectAll"
                            value="@selectAllButtonValue">
                        @selectAllButtonText
                    </button>
                </div>

                <div class="govuk-grid-column-one-quarter">
                    <button asp-controller="@Routes.MyPupilList.DeleteMyPupilsController"
                            asp-action="Delete"
                            asp-route-pageNumber="@Model.PageNumber"
                            asp-route-sortField="@Model.SortField"
                            asp-route-sortDirection="@Model.SortDirection"
                            id="remove--selected--data--link"
                            type="submit"
                            class="govuk-button govuk-button--secondary">
                        @ApplicationLabels.RemoveSelectedToMyPupilListLink
                    </button>
                </div>
            </div>
        }



        <div class="govuk-grid-row">
            @if (!@Model.HasPupils)
            {
                string noPupilsMessage = Model.PageNumber == 1 ?
                ApplicationLabels.SearchMyPupilListNoPupilFound :
                ApplicationLabels.MyPupilListNoMorePupils;

                <div id="results--detail-warningmessage" class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        <span>@noPupilsMessage</span>
                    </strong>
                </div>
                <ul class="pagination-list">
                    <!-- [Previous] -->
                    @if (Model.PageNumber > 1)
                    {
                        <li class="page-list-previous">
                            <button asp-controller="@Model.UpdateFormController"
                                    asp-action="@Model.UpdateFormAction"
                                    asp-route-pageNumber="@(Model.PageNumber - 1)"
                                    asp-route-sortField="@Model.SortField"
                                    asp-route-sortDirection="@Model.SortDirection"
                                    id="page-previous"
                                    type="submit">
                                &#60;&#60; Previous
                            </button>
                        </li>
                        <!-- [1] -->
                        <li class="page-list-first">
                            <button asp-controller="@Model.UpdateFormController"
                                    asp-action="@Model.UpdateFormAction"
                                    asp-route-pageNumber="1"
                                    asp-route-sortField="@Model.SortField"
                                    asp-route-sortDirection="@Model.SortDirection"
                                    id="page-first"
                                    type="submit">
                                1
                            </button>
                        </li>
                        <!-- [current] -->
                        <li>@Model.PageNumber</li>
                    }
                </ul>
            }
            else
            {
                <div class="result-table">
                    <div id="pupil--list--table">
                        <div class="giap--pupil-list">
                            <fieldset class="govuk-fieldset">
                                <legend class="govuk-fieldset__legend govuk-visually-hidden">Do you want to select</legend>
                                <table class="govuk-table">
                                    <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-select--chkbox">
                                                <span class="govuk-visually-hidden">checkboxes</span>
                                            </th>
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-firstname--text"
                                                aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Forename, Model.SortField, Model.SortDirection)">
                                                <button asp-controller="@Model.UpdateFormController"
                                                        asp-action="@Model.UpdateFormAction"
                                                        asp-route-pageNumber="@Model.PageNumber"
                                                        asp-route-sortField="@AzureSearchFields.Forename"
                                                        asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Forename, Model.SortField, Model.SortDirection)"
                                                        id="search--sort-firstname--button">
                                                    First
                                                </button>
                                            </th>
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-surname--text"
                                                aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Surname, Model.SortField, Model.SortDirection)">
                                                <button asp-controller="@Model.UpdateFormController"
                                                        asp-action="@Model.UpdateFormAction"
                                                        asp-route-pageNumber="@Model.PageNumber"
                                                        asp-route-sortField="@AzureSearchFields.Surname"
                                                        asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Surname, Model.SortField, Model.SortDirection)"
                                                        id="search--sort-surname--button">
                                                    Surname
                                                </button>
                                            </th>
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-learner-number--text">@(Model.UniquePupilNumberLabel)</th>
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-dob--text"
                                                aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.DOB, Model.SortField, Model.SortDirection)">
                                                <button asp-controller="@Model.UpdateFormController"
                                                        asp-action="@Model.UpdateFormAction"
                                                        asp-route-pageNumber="@Model.PageNumber"
                                                        asp-route-sortField="@AzureSearchFields.DOB"
                                                        asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.DOB, Model.SortField, Model.SortDirection)"
                                                        id="search--sort-dob--button">
                                                    Date of birth
                                                </button>
                                            </th>
                                            <th scope="col"
                                                class="govuk-table__header"
                                                id="search--search-pupils-heading-sex--text"
                                                aria-sort="@SortHelper.DetermineAriaSort(AzureSearchFields.Sex, Model.SortField, Model.SortDirection)">
                                                <button asp-controller="@Model.UpdateFormController"
                                                        asp-action="@Model.UpdateFormAction"
                                                        asp-route-pageNumber="@Model.PageNumber"
                                                        asp-route-sortField="@AzureSearchFields.Sex"
                                                        asp-route-sortDirection="@SortHelper.DetermineSortDirection(AzureSearchFields.Sex, Model.SortField, Model.SortDirection)"
                                                        id="search--sort-sex--button">
                                                    Sex
                                                </button>
                                            </th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-pupilpremium--text">Pupil premium</th>
                                            <th scope="col" class="govuk-table__header" id="search--search-pupils-heading-local-authority--text">LA</th>
                                        </tr>
                                    </thead>
                                    <tbody class="govuk-table__body">
                                        @foreach (var pupil in Model.CurrentPageOfPupils.Values)
                                        {
                                            <tr class="govuk-table__row">
                                                <td class="govuk-table__cell govuk-checkboxes govuk-checkboxes--small">
                                                    <div class="govuk-checkboxes__item">
                                                        <input class="govuk-checkboxes__input"
                                                               id="search--search-pupils-data-select--chkbox-@pupil.UniquePupilNumber"
                                                               name="SelectedPupils"
                                                               type="checkbox"
                                                               value="@pupil.UniquePupilNumber"
                                                        @(pupil.IsSelected ? "checked" : string.Empty) />

                                                        <label class="govuk-label govuk-checkboxes__label" for="search--search-pupils-data-select--chkbox-@pupil.UniquePupilNumber">
                                                            <span class="govuk-visually-hidden">@(Model.UniquePupilNumberLabel): @pupil.UniquePupilNumber, Name: @pupil.Forename @pupil.Surname</span>
                                                        </label>
                                                    </div>
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-firstname--text">
                                                    @pupil.Forename
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-data-surname--text">
                                                    @pupil.Surname
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-learner-number--text">
                                                    @pupil.UniquePupilNumber
                                                </td>
                                                <td class="govuk-table__cell search--dob--cell search--search-pupils-data-dob--text">
                                                    @pupil.DateOfBirth
                                                </td>
                                                <td class="govuk-table__cell search--search-pupils-data-sex--text">
                                                    @pupil.Sex
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-pupilpremium--text">
                                                    @pupil.PupilPremiumLabel
                                                </td>

                                                <td class="govuk-table__cell search--search-pupils-data-local-authority--text">
                                                    @pupil.LocalAuthorityCode
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </fieldset>
                            <div>
                                <ul class="pagination-list">
                                    <!-- Previous page number -->
                                    @if (Model.PageNumber > 1)
                                    {
                                        <li class="page-list-previous">
                                            <button asp-controller="@Model.UpdateFormController"
                                                    asp-action="@Model.UpdateFormAction"
                                                    asp-route-pageNumber="@(Model.PageNumber - 1)"
                                                    asp-route-sortField="@Model.SortField"
                                                    asp-route-sortDirection="@Model.SortDirection"
                                                    id="page-previous"
                                                    type="submit">
                                                &#60;&#60; Previous
                                            </button>
                                        </li>
                                        <li class="page-list-first">
                                            <button asp-controller="@Model.UpdateFormController"
                                                    asp-action="@Model.UpdateFormAction"
                                                    asp-route-pageNumber="1"
                                                    asp-route-sortField="@Model.SortField"
                                                    asp-route-sortDirection="@Model.SortDirection"
                                                    id="page-first"
                                                    type="submit">
                                                1
                                            </button>
                                        </li>
                                    }

                                    @if (Model.PageNumber > 3)
                                    {
                                    <li class="page-list-number-separator">...</li>
                                    }

                                    @if(Model.PageNumber > 2)
                                    {
                                        <li class="page-list-previous">
                                            <button asp-controller="@Model.UpdateFormController"
                                                    asp-action="@Model.UpdateFormAction"
                                                    asp-route-pageNumber="@(Model.PageNumber - 1)"
                                                    asp-route-sortField="@Model.SortField"
                                                    asp-route-sortDirection="@Model.SortDirection"
                                                    id="page-previous"
                                                    type="submit">
                                                @(Model.PageNumber - 1)
                                            </button>
                                        </li>
                                    }

                                    <!-- Current page number -->
                                    <li>@Model.PageNumber</li>

                                    <!-- Next page number -->
                                    @if (Model.MorePagesAvailable)
                                    {
                                        <!-- Last page number available should either be
                                        {current} {next} ... {lastPage}
                                        {current} {next} {lastPage}
                                        -->

                                        <!-- Always display next page -->
                                        <li class="page-list-next">
                                            <button asp-controller="@Model.UpdateFormController"
                                                    asp-action="@Model.UpdateFormAction"
                                                    asp-route-pageNumber="@(Model.PageNumber + 1)"
                                                    asp-route-sortField="@Model.SortField"
                                                    asp-route-sortDirection="@Model.SortDirection"
                                                    id="page-next-number"
                                                    type="submit">
                                                @(Model.PageNumber + 1)
                                            </button>
                                        </li>
                                        <li class="page-list-next">
                                            <button asp-controller="@Model.UpdateFormController"
                                                    asp-action="@Model.UpdateFormAction"
                                                    asp-route-pageNumber="@(Model.PageNumber + 1)"
                                                    asp-route-sortField="@Model.SortField"
                                                    asp-route-sortDirection="@Model.SortDirection"
                                                    id="page-next"
                                                    type="submit">
                                                Next &#62;&#62;
                                            </button>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </form>

    <partial name="_MetadataFilesPartial" />
</div>
