@model ReleaseTimetableViewModel

<div>
    <p class="govuk-heading-l">Data release timetable</p>
    <p class="govuk-body">The data listed below has been added to the system. All historical datasets that are within the service data retention policy have been loaded.</p>
</div>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--l">School census and pupil premium data</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Data available</th>
            <th scope="col" class="govuk-table__header">Autumn census</th>
            <th scope="col" class="govuk-table__header">Spring census</th>
            <th scope="col" class="govuk-table__header">Summer census</th>
            <th scope="col" class="govuk-table__header">Pupil Premium</th>
            <th scope="col" class="govuk-table__header">16-18 disadvantage pupil premium</th>
            <th scope="col" class="govuk-table__header">16-18 SEN</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (SchoolCensusYearViewModel item in Model.SchoolCensusData)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@item.AcademicYear</th>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.AutumnCensus))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.SpringCensus))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.SummerCensus))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.PupilPremium))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.DisadvantagePremium16To18))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, SchoolCensusType.Sen16To18))</td>
            </tr>
        }
    </tbody>
</table>

<table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--l">Attainment data</caption>
    <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Data available</th>
            <th scope="col" class="govuk-table__header">Key stage 1</th>
            <th scope="col" class="govuk-table__header">Key stage 2</th>
            <th scope="col" class="govuk-table__header">Key stage 4</th>
            <th scope="col" class="govuk-table__header">EYFSP</th>
            <th scope="col" class="govuk-table__header">Phonics</th>
            <th scope="col" class="govuk-table__header">Phonics Autumn (Y2)</th>
            <th scope="col" class="govuk-table__header">Multiplication tables check (MTC)</th>
        </tr>
    </thead>
    <tbody class="govuk-table__body">
        @foreach (AttainmentYearViewModel item in Model.AttainmentData)
        {
            <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">@item.AcademicYear</th>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.KeyStage1))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.KeyStage2))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.KeyStage4))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.EYFSP))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.Phonics))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.PhonicsAutumnY2))</td>
                <td class="govuk-table__cell">@DisplayTick(Has(item.Available, AttainmentType.MTC))</td>
            </tr>
        }

    </tbody>
</table>

@functions {

    private IHtmlContent DisplayTick(bool value)
    {
        return value ? new HtmlString("✓") : HtmlString.Empty;
    }

    private bool Has<TEnum>(HashSet<TEnum> set, TEnum value) where TEnum : Enum
    {
        return set.Contains(value);
    }

}
