@model CreateNewsArticleViewModel
@{
    ViewBag.Title = "Create news article";
}

<div class="govuk-width-container">
    <partial name="Partials/Layout/_LayoutBackButton" model="@Model.BackButton" />

    <h1 class="govuk-heading-xl">Create news article</h1>

    <form method="post">
        <div class="govuk-form-group">
            <div class="govuk-checkboxes govuk-!-margin-bottom-4" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="NewsArticle_Pinned" asp-for="NewsArticle.Pinned" name="NewsArticle.Pinned" type="checkbox">
                    <label for="NewsArticle_Pinned" class="govuk-label govuk-checkboxes__label">Pinned</label>
                </div>

                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="NewsArticle_Published" asp-for="NewsArticle.Published" name="NewsArticle.Published" type="checkbox">
                    <label for="NewsArticle_Published" class="govuk-label govuk-checkboxes__label">Published</label>
                </div>
            </div>

            <div class="@Html.ClassWithError("NewsArticle.Title", "govuk-form-group govuk-character-count", "govuk-form-group--error")"
                 data-module="govuk-character-count"
                 data-maxlength="64">
                <label class="govuk-label" for="news-article-title">
                    Title
                </label>
                <span id="news-article-title-error" class="govuk-error-message">
                    <span asp-validation-for="NewsArticle.Title"></span>
                </span>
                <input class="@Html.ClassWithError("NewsArticle.Title", "govuk-input govuk-js-character-count", "govuk-input--error")"
                       id="news-article-title"
                       asp-for="NewsArticle.Title" />
                <div id="news-article-title-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 64 characters
                </div>
            </div>

            <div class="@Html.ClassWithError("NewsArticle.Body", "govuk-form-group", "govuk-form-group--error")">
                <label class="govuk-label" for="news-article-body">
                    Body
                </label>
                <span id="news-article-body-error" class="govuk-error-message">
                    <span asp-validation-for="NewsArticle.Body"></span>
                </span>
                <textarea class="@Html.ClassWithError("NewsArticle.Body", "govuk-textarea", "govuk-textarea--error")"
                          id="news-article-body"
                          asp-for="NewsArticle.Body"
                          rows="5"></textarea>
            </div>

            <div class="govuk-button-group">
                <button asp-controller="ManageNewsArticles" asp-action="CreateNewsArticle" id="CreateNewsArticle--button" name="Create" class="govuk-button">Save</button>
                <a asp-controller="ManageNewsArticles" asp-action="ManageNewsArticles" id="discard-document--button" name="discard" class="govuk-button govuk-button--secondary">Discard</a>
            </div>
        </div>
    </form>
</div>
