@model ManageDocumentsViewModel
@{ 
    ViewBag.Title = "Manage documents"; 
}


<div class="govuk-width-container">
    <partial name="Layout/_LayoutHeaderBackButton" model="@Model.BackButton" />

    <h1 class="govuk-heading-xl">Manage documents</h1>

        <form method="post">
            <div class="govuk-form-group">

                <label for="select-document-dropdown" class="govuk-label">Please select a document</label>

                <select id="select-document-dropdown" asp-for="@Model.DocumentList.DocumentId" class="govuk-select @(Model.HasInvalidDocumentList ? "govuk-textarea--error" : "")" asp-items="ViewBag.ListOfDocuments">
                </select>
                <button asp-controller="ManageDocuments" asp-action="ManageDocuments" id="select-document--button" value="Select" name="select" class="govuk-button">Select</button>

                @if (Model?.DocumentList?.DocumentId == DocumentType.Article.ToString() && ViewBag.NewsDocuments != null)
                {
                    <br />

                    <label for="select-article-dropdown" class="govuk-label">Please select a news article</label>
                    <select id="select-article-dropdown" asp-for="@Model.SelectedNewsId" class="govuk-select @(Model.HasInvalidNewsList ? "govuk-textarea--error" : "")" asp-items="ViewBag.NewsDocuments">
                    </select>
                    <button asp-controller="ManageDocuments" asp-action="SelectNewsArticle" id="select-document--button" value="Select" name="select" class="govuk-button">Select</button>
                }

                @if (Model?.DocumentList?.DocumentId == DocumentType.ArchivedNews.ToString() && ViewBag.ArchivedNewsDocuments != null)
                {
                    <br />
                    if (ViewBag.ArchiveNewsIsSuccess)
                    {
                        <label for="select-article-dropdown--archived" class="govuk-label">Please select an archived news article</label>

                        <select id="select-article-dropdown--archived" asp-for="@Model.SelectedNewsId" class="govuk-select @(Model.HasInvalidArchiveList ? "govuk-textarea--error" : "")" asp-items="ViewBag.ArchivedNewsDocuments">
                        </select>
                        <button asp-controller="ManageDocuments" asp-action="SelectNewsArticle" id="select-archived-news--button" value="Select" name="select" class="govuk-button">Select</button>
                    }
                    else
                    {
                        <h2 class="govuk-heading-l">You do not currently have any archived news articles</h2>
                    }
                }

                @if (Model?.DocumentList?.DocumentId == DocumentType.Article.ToString())
                {
                    <p class="govuk-body">
                        <a asp-controller="ManageDocuments" asp-action="CreateNewsArticle" id="create-new-article--button" value="Create" name="create" class="govuk-button govuk-button--secondary">Create new article</a>
                    </p>
                }
            </div>
        </form>
</div>
